<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_dashboard_index')}}">
				<i class="icon-grid menu-icon"></i>
				<span class="menu-title">Tableau de board</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_user_index')}}">
					<i class="icon-paper menu-icon"></i>
					<span class="menu-title">Comptes</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_competition_index')}}">
					<i class="icon-paper menu-icon"></i>
					<span class="menu-title">Concours</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_exam_index')}}">
					<i class="icon-paper menu-icon"></i>
					<span class="menu-title">Examens</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_school_index')}}">
					<i class="icon-paper menu-icon"></i>
					<span class="menu-title">Ecoles</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_university_index')}}">
					<i class="icon-paper menu-icon"></i>
					<span class="menu-title">Universités</span>
				</a>
			</li>
	</ul>
</nav> 

