{% extends 'backend_base.html.twig' %}


{# Page Meta title #}
{% set title = "Tableau de bord" %}
{% set description = "Tableau de bord" %}
{% set keywords = "examen, Bénin, epreuves, pdf, université, ecole, filière" %}

{# Page Meta title #}
{% block title %}
	{{title}}
{% endblock %}
{% block fb_title %}
	{{title}}
{% endblock %}
{% block twitter_title %}
	{{title}}
{% endblock %}

{# Page Body class #}
{% block body_class %}
{% endblock %}

{# Page meta informations #}
{% block descriptions %}
	{{description}}
{% endblock %}
{% block schema_description %}
	{{description}}
{% endblock %}
{% block twitter_description %}
	{{description}}
{% endblock %}
{% block open_graph_description %}
	{{description}}
{% endblock %}
{% block keywords %}
	{{keywords}}
{% endblock %}

{% block og_image %}
	
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Tableau de board</h4>
					<p class="card-description">
						Bienvenue.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
