{% extends 'backend_base.html.twig' %}


{# Page Meta title #}
{% set title = "Gestion des utilisateurs" %}
{% set description = "Gestion des utilisateurs" %}
{% set keywords = "useren, Bénin, epreuves, pdf, université, ecole, filière"%}

{# Page Meta title #}
{% block title %}
	{{title}}
{% endblock %}
{% block fb_title %}
	{{title}}
{% endblock %}
{% block twitter_title %}
	{{title}}
{% endblock %}

{# Page Body class #}
{% block body_class %}
{% endblock %}

{# Page meta informations #}
{% block descriptions %}
	{{description}}
{% endblock %}
{% block schema_description %}
	{{description}}
{% endblock %}
{% block twitter_description %}
	{{description}}
{% endblock %}
{% block open_graph_description %}
	{{description}}
{% endblock %}
{% block keywords %}
	{{keywords}}
{% endblock %}

{% block og_image %}
	
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Les Ecoles</h4>
					<p class="card-description">
						Table des écoles ajoutées sur le site. &nbsp;
						<div class="template-demo">
                            <div class="btn-group col-12" role="group" aria-label="Basic userple">
							    <div class="text-center">
						            <a href="{{ path('app_user_new') }}" class="btn btn-info my-4"><i class="mdi mdi-keyboard-return"></i>Ajouter un nouvel utilisateur</a>
					        </div>
						</div>
					</p>
					<div class="table-responsive" >
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>ID</th>
                                    <th>Nom & Prénoms</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Modifier</th>
				                    <th>Suppression</th>
				    			</tr>
							</thead>
							<tbody>
								{% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.fullName }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                        <td>
											<a title="Mettre à jour" class="btn" href="{{ path('app_user_edit', {'id': user.id}) }}">
												<i class="mdi mdi-lead-pencil"></i>
											</a>
										</td>
										<td>
											 {{ include('user/_delete_form.html.twig') }}
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="6">Aucun utilisateur trouvé</td>
									</tr>
								{% endfor %}
							</tbody>
						</table> <br>
							<div class="d-flex justify-content-center">
							{% do users.setPageRange(2) %}
							{{ knp_pagination_render(users, 'partials/_pagination.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
{% endblock %}









